doctype
html
  head
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="/components/scan-interface/static/remodal/remodal.css")
    link(rel="stylesheet", href="/components/scan-interface/static/remodal/remodal-default-theme.css")
    link(rel="stylesheet", href="/components/scan-interface/static/filetree/jqueryFileTree.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js")
    script(src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/components/scan-interface/static/remodal/remodal.min.js")
    script(src="/components/scan-interface/static/filetree/jqueryFileTree.js")
  body
    div(class="container")
      div(class="page-header" style="margin:15px;")
        h1(align="center")
          span(style="vertical-align:middle;")
            | Control Panel&nbsp&nbsp
            img(src='/components/scan-interface/static/control.png' height='33' style="bottom: 3px; position:relative;")
    br
    
    div(style="text-align:center;" class="dropdown")
      button(class="btn btn-info dropdown-toggle" id="choose_button" type="button" data-toggle="dropdown")
        | Choose Disk Image&nbsp&nbsp
        span(class="caret")
      ul(class="dropdown-menu" id="dropit" style="left:50%; right:auto; transform:translate(-50%, 0); max-height:500px; max-width:700px; overflow:auto; border-left: 10px solid #F1F1F1; border-right: 10px solid #F1F1F1; border-top: 0px solid white; border-bottom: 3px solid #F1F1F1; background-color: #F1F1F1;")
        h6(style="text-align:center;")
          b /mnt/
          hr(style="margin-top:3px; margin-bottom:0px;")
        div(class="example")
          div(id="fileTreeDemo_1" class="demo")
    
    div(style="height:5px;")
    div(class="form-group" style="width:300px; margin:auto;")
      input(type="text" class="form-control" id="case_name" placeholder="Enter Case Name" style="visibility:hidden;")
    p(style="text-align:center; height:24px;" id="info_text")
      i
        | Select a disk image to begin analysis.
    div(style="height:5px;")
    
    div(style="text-align:center;")
      button(class="btn btn-primary" id="submit-button" style="width:300px; display:none;" onclick="youClicked()")
        | Start Analysis &#8658
    
    div(class="container")
      div(class="page-header")
        h3
          span(style="vertical-align:middle;")
            | Database Entries&nbsp&nbsp&nbsp
      div(style="margin:auto;")
        table(id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%")
          thead
            tr
              th Case
              th Last Updated
          tbody
            each result in cases
              tr
                td 
                  a(href="/cases/#{result.case}")
                    | #{result.case}
                td #{result.lastupdate}

    div(data-remodal-id="modal1")
      h1
        | Confirmed
      p
        | Disk analysis has been queued in the database
      br
      button(data-remodal-action="confirm" class="remodal-confirm" onclick="refresh()")
        | Continue
    div(data-remodal-id="modal2")
      h1
        | Already Exists
      p
        | This case name has already been used
      br
      button(data-remodal-action="confirm" class="remodal-confirm")
        | OK

    script.
      var inst_insert = $('[data-remodal-id=modal1]').remodal();
      var inst_exists = $('[data-remodal-id=modal2]').remodal();

      var fullPath = '';
      $("#submit-button").prop('disabled', true);

      $("#choose_button").click(function() {
          if ($('#dropit').is(':visible'))
              $("#dropit").slideUp(100);
          else
              $("#dropit").slideDown(100);
      });

      $("#case_name").on("input", function() {
          var input = this.value;
          if (input == "") {
              $("#submit-button").css("cursor", "default");
              $("#submit-button").prop('disabled', true);
          }
          else if (input.indexOf(' ') >= 0) {
              $("#submit-button").css("cursor", "cursor");
              $("#submit-button").prop('disabled', true);
              $("#submit-button").html('Please Remove Whitespace');
          }
          else {
              $("#submit-button").css("cursor", "cursor");
              $("#submit-button").prop('disabled', false);
              $("#submit-button").html('Start Analysis &#8658');
          }
      });

      $('#fileTreeDemo_1').fileTree({ root: '/mnt/', script: '/test', expandSpeed: 100, collapseSpeed: 100 }, function(file) {
          fullPath = file.split('/');
          fullPath.shift();
          fullPath.shift();
          fullPath = '/' + fullPath.join('/');
          var splitpath = file.split('/');
          var fileName = splitpath[splitpath.length-1];

          $("#info_text").css("display", "none");
          $("#case_name").css("visibility", "visible");
          $("#submit-button").css("display", "inline");
          $("#submit-button").css("cursor", "default");
          $("#dropit").slideUp(100);

          $("#choose_button").html('('+fileName+') Selected  <span class="caret"></span>');
      });

      $(document).ready(function() {
          var table = $('#example').DataTable();
      });

      function refresh() {
          location.reload();        
      };

      function youClicked() {
          var case1 = $('#case_name').val();
          var diskimage = fullPath;
          $.post( 
             "/start-scan",
             { case1: case1, diskimage: diskimage },
             function(data) {
                 if (data == "Success")
                     inst_insert.open()
                 else if (data == "Exists")
                     inst_exists.open()
                 else
                     alert("ERROR: " + data["errmsg"])
             }
          );
      }
