.spinner {
    border: 3px solid #BDBDBD;
    border-top: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    border-right: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
